body {padding-top:20px;}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#success {
  background: white;
  width: 90%;
  max-width:420px;
  margin:15px auto;
  padding:30px;
  display: none;
}
#success i {
    font-size: 100px;
    text-align: center;
    color: green;
    width: 100%;
}

#success h2 {
    color: #333;
}
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}
